.miMensaje {
    margin-top: 10px;
    text-align: center;
}

.miTabla {
    text-align: center;
}

.miFlecha {
    margin-top: 10px;
}

.mensajeError {
    color: red;
}

.icon {
    max-width: 30px; /* Define el ancho máximo deseado */
    max-height: 30px; /* Define la altura máxima deseada */
}